.github export-ignore
.gitattributes export-ignore
community export-ignore
docs export-ignore
schema/SCHEMA_QUDT-CITATION-v2.1.ttl export-ignore
schema/SCHEMA_QUDT-DATA-v2.1.ttl export-ignore
submissions  export-ignore
vocab/codes  export-ignore
vocab/disciplines  export-ignore
vocab/nidr  export-ignore
vocab/quantitykinds/to-be-deprecated-quantitykinds  export-ignore
vocab/scales  export-ignore
vocab/types  export-ignore
vocab/VOCAB_*  export-ignore


