/* f2eed6  keep this ...we may use the color for other shading rules */
@import "xml-verbatim.css";

body.homepage {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: black;
}

body {
	font-family: serif;
	font-size: 100%;
	color: black;
	background: white;
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	line-height: 14pt;
}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
:active { color: #C00; background: transparent }

th, td {
	font-family: sans-serif;
	font-size: 100%;
	color: black;
}

table {
	margin-left: 50pt;
	margin-bottom: 12pt;
}

table.homepage {
	margin-left: 0pt;
	/*margin-bottom: 10pt;*/
}

table.rimlists {
	margin-left: 68pt;
	/*margin-bottom: 10pt;*/
}

table.header {
	margin-left: 0pt;
}

table.standard {
	margin-left: 50pt;
        border-collapse: collapse;
/ *	border-style: solid solid solid solid;
	border-width: 1 1 1 1;
*/	border-style: solid none solid none;
	border-width: 2 0 2 0;
	border-color: #c8d999;
}

table.standard td { 
	font-size: 90%; 
	border-style: solid dotted solid dotted;
	border-width: 1 1 1 1;
}

table.standard th { 
	font-size: 90%; 
	border-style: solid dotted solid dotted;
	border-width: 1 1 2 1;
}

.graphic {
	/*margin-left: 50pt;*/
	border-style: none none none none;
	border-width: 1 1 1 1;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

blockquote {
	margin-left: 50pt;
	margin-bottom: 20pt;
}

p {
	font-family: serif;
	font-size: 100%; 
	margin-left: 50pt;
	margin-top: 0pt;
}

p.comment { font-size: 90%; }

span.small { font-size: 80%; }
td.small { font-size: 80%; }

span.paragraph {
	font-family: serif;
	font-size: 100%; 
	margin-left: 50pt;
}

h1, h2, h3, h4, h5, h6 { text-align: left; font-family : Arial,
Helvetica, sans-serif; margin-top: 16pt; margin-bottom: 0pt; }

/* background should be transparent, but WebTV has a bug 
  note: original h1,h2,h3 color was 005a9c
*/
h1, h2, h3,h4 {color: maroon; background: white }
h1 { font: bold 170%;  text-transform : uppercase; }
h2 { font: bold 140%;  text-transform : uppercase; }
h3 { font: bold 120%;  text-transform : uppercase;  }
h4 { font: bold 100%}
h5 { font: italic 100%}
h6 { font: small-caps 100%}

.hide { display: none }

/* div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top:# 2em }
div.head img { color: white; border: none } /* remove border from top image */
*/
p.copyright { font-size: small;  margin-left : 0pt;  }
p.copyright small { font-size: small;  margin-left : 0pt;  }

@media screen {  /* hide from IE3 */
	a:hover { background: #ffa } 
}

pre { margin: 1em 1em 0em 1em; } 
dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

code { font-family: monospace } /* navigator 4 requires this */

ul {
	margin-left: 70pt;
}

ul.homepage {
	margin-left: 20pt;
}

ul.toc {
	margin-left: 70pt;
	list-style: disc;		/* Mac NS has problem with 'none' */
	list-style: none;
}

ol {
	margin-left: 70pt;
}

span.cardinality { font-weight: normal }

li.assocRef {
	margin-top: 6pt;
	margin-bottom:6pt ;
	list-style-type: none ;
	margin-left: 0pt;
}

div.listTable { margin-left: 50pt }

td.template {
	font-size: 80%; 
	background-color: #B0E0E6; /* find a better color */
	}

td.example {
	font-size: 80%; 
	background-color: #c8d999; /* find a better color */
	}

td.requirement {
	background-color: #F5DEB3; /* find a better color */
        border: 1 solid #191970;
	}


td.dtd {
	background-color: #bedce6 ; /* find a better color */
	}

td.schema {
	font-size: 80%; 
   background-color: #c8d999 ; 
   }

td.schema {
	font-size: 80%; 
   background-color: #c8d999 ; 
   }

td.dtdl { background-color: #d9d9d9 ; }

td.xslt { background-color: #c8d999 ; }

div.descriptive {
	padding-left : 68px;
}


/* v3dt changes */
caption { font: 90% sans-serif; }

ul.schema {
	list-style: disc;		/* Mac NS has problem with 'none' */
	list-style: none;
	margin: 1em 1em 1em 1em;
}

ul.schema ul.schema {
	list-style: disc;		/* Mac NS has problem with 'none' */
	list-style: none;
	margin: 0 0 0 1em;
}
