# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
  pull_request:
    types:
      - closed
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -Pzip install
      # Make github release
    - name: Release
      uses: softprops/action-gh-release@v2
      if: ${{ github.ref_name == 'main' && github.event.pull_request.merged == true}} # only make snapshot release if it is a push to main
      with:
        name: Latest snapshot release
        tag_name: snapshot
        body: Snapshot release triggered by an update of the main branch.
        files: target/qudt-public-repo-*.zip
